/*=============== GOOGLE FONTS ===============*/
/* Nhúng các font từ Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
/* Khai báo các biến CSS toàn cục */
:root {
  --header-height: 3.5rem; /* Chiều cao của header */

  /*========== Colors ==========*/
  /* Màu sắc sử dụng hệ màu HSL (hue, saturation, lightness) */
  --first-color: hsl(19, 64%, 54%); /* Màu chính */
  --first-color-alt: hsl(19, 64%, 52%); /* Màu thay thế cho màu chính */
  --title-color: hsl(19, 16%, 15%); /* Màu tiêu đề */
  --text-color: hsl(19, 16%, 35%); /* Màu văn bản chính */
  --text-color-light: hsl(19, 8%, 55%); /* Màu văn bản phụ */
  --body-color: hsl(19, 100%, 96%); /* Màu nền cơ thể */
  --container-color: hsl(19, 100%, 97%); /* Màu nền container */

  /*========== Font and typography ==========*/
  /* Các font chữ và kích thước chữ */
  --body-font: "Poppins", sans-serif; /* Font cho văn bản chính */
  --title-font: "Lora", serif; /* Font cho tiêu đề */
  --subtitle-font: "Dancing Script", cursive; /* Font cho phụ đề */
  --biggest-font-size: 2.25rem; /* Kích thước chữ lớn nhất */
  --h1-font-size: 1.5rem; /* Kích thước chữ cho h1 */
  --h2-font-size: 1.25rem; /* Kích thước chữ cho h2 */
  --h3-font-size: 1rem; /* Kích thước chữ cho h3 */
  --normal-font-size: .938rem; /* Kích thước chữ bình thường */
  --small-font-size: .813rem; /* Kích thước chữ nhỏ */
  --smaller-font-size: .75rem; /* Kích thước chữ nhỏ hơn */

  /*========== Font weight ==========*/
  /* Trọng số chữ */
  --font-medium: 500; 
  --font-semi-bold: 600; 

  /*========== z index ==========*/
  /* Các giá trị z-index độ ưu tiên thằng nào hiển thị trước */
  --z-tooltip: 10; /* Độ ưu tiên của tooltip */
  --z-fixed: 100; /* Độ ưu tiên của các phần tử cố định */
}

/* Thay đổi kích thước font khi màn hình lớn hơn 1024px */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
/* Các quy tắc cơ bản cho toàn bộ trang */
* {
  box-sizing: border-box; 
  padding: 0; /* Xóa padding mặc định */
  margin: 0; /* Xóa margin mặc định */
}

html {
  scroll-behavior: smooth; /* Hiệu ứng cuộn mượt mà */
}

body {
  font-family: var(--body-font); /* Sử dụng font cho văn bản chính */
  font-size: var(--normal-font-size); /* Sử dụng kích thước font bình thường */
  background-color: var(--body-color);  
  color: var(--text-color); /* Màu văn bản chính */
  transition: background 0.4s; /* Hiệu ứng chuyển màu nền khi thay đổi chế độ sáng/tối */
}

h1, h2, h3 {
  color: var(--title-color); /* Màu cho tiêu đề */
  font-weight: var(--font-medium); /* Trọng số chữ trung bình */
}

ul {
  list-style: none; /* Xóa kiểu danh sách mặc định cho ul */
}

a {
  text-decoration: none; /* Xóa gạch chân cho liên kết */
}

img {
  max-width: 100%; /* Hình ảnh không vượt quá chiều rộng của phần tử chứa */
  height: auto; /* Chiều cao tự động để giữ tỷ lệ hình ảnh */
}

/*=============== THEME ===============*/
/* Các lớp và biến cho chủ đề sáng/tối có thể được định nghĩa ở đây */

/*========== Variables Dark theme ==========*/
/* Các biến cho chủ đề tối có thể được định nghĩa ở đây */

/*========== Color changes in some parts of the website, in light theme ==========*/
/* Các thay đổi màu sắc cho các phần của trang web có thể được định nghĩa ở đây */

/*=============== REUSABLE CSS CLASSES ===============*/
/* Các lớp CSS tái sử dụng */
.container {
  max-width: 1024px; /* Chiều rộng tối đa của container */
  margin-inline: 1.5rem; /* Margin hai bên */
}

.grid {
  display: grid; /* Sử dụng lưới CSS */
  gap: 1.5rem; /* Khoảng cách giữa các phần tử trong lưới */
}

.section {
  padding-block: 5rem 1rem; /* Padding trên và dưới của phần */
}

.section__title {
  font-size: var(--h1-font-size); /* Kích thước font cho tiêu đề phần */
  font-family: var(--title-font); /* Font cho tiêu đề phần */
  margin-bottom: 1.5rem; /* Khoảng cách dưới tiêu đề phần */
}

.section__subtitle {
  display: block; /* Hiển thị phụ đề dưới dạng khối */
  font-size: var(--h2-font-size); /* Kích thước font cho phụ đề */
  font-family: var(--subtitle-font); /* Font cho phụ đề */
  color: var(--first-color); /* Màu phụ đề */
  margin-bottom: 0.5rem; /* Khoảng cách dưới phụ đề */
}

.section__title, 
.section__subtitle {
  text-align: center; /* Căn giữa tiêu đề và phụ đề */
}

.main {
  overflow: hidden; /* Ẩn phần nội dung tràn ra ngoài để sử dụng ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  /* Đặt vị trí của phần tử header là cố định, khiến nó luôn ở vị trí trên cùng của trang khi cuộn */
  position: fixed; 
  /* Đặt chiều rộng của phần tử header bằng 100% chiều rộng của viewport, đảm bảo nó kéo dài toàn bộ chiều ngang của trang */
  width: 100%;
  background-color: var(--body-color);
  /* Đặt khoảng cách từ phần tử header đến cạnh trên của viewport là 0, đảm bảo nó luôn nằm ở phía trên cùng của trang */
  top: 0;
  /* Đặt khoảng cách từ phần tử header đến cạnh trái của viewport là 0, đảm bảo nó bắt đầu từ cạnh trái của trang */
  left: 0;
  /* Đặt chỉ số z của phần tử header để đảm bảo nó nằm trên các phần tử khác. Biến --z-fixed có thể được định nghĩa để chỉ định giá trị z-index */
  z-index: var(--z-fixed);
  /* Thêm hiệu ứng chuyển tiếp cho thuộc tính box-shadow và background-color. 
     - box-shadow: chuyển tiếp trong 0.3 giây 
     - background-color: chuyển tiếp trong 0.4 giây */
  transition: box-shadow .3s, background-color .4s;
}


.nav{
   /* Đặt vị trí của phần tử header theo kiểu tương đối. 
     Điều này cho phép các phần tử con có thể được định vị tuyệt đối (absolute) dựa trên phần tử này. */
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
  display: flex;
  color: var(--title-color);
}

.nav__logo{
  align-items: center;
  gap: .5rem;
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: color .3s;
}

.nav__logo img {
  width: 25px;
}

.nav__logo:hover{
  color: var(--first-color)
}

.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav__menu{
      position: fixed;
      /* Đặt khoảng cách từ phần tử .nav__menu đến cạnh trên của viewport là -100%.
      Điều này giúp phần tử nằm hoàn toàn ngoài tầm nhìn phía trên viewport khi trang đầu tiên được tải. */
      top: -100%;
      /* Đặt khoảng cách từ phần tử .nav__menu đến cạnh trái của viewport là 0.
           Điều này làm cho phần tử nằm sát cạnh trái của viewport. */
      left: 0;
      background-color: var(--body-color);
      width: 100%;
       /* Thêm hiệu ứng box-shadow cho phần tử .nav__menu.
           - 0: khoảng cách đổ bóng theo chiều ngang (không có dịch chuyển).
           - 8px: khoảng cách đổ bóng theo chiều dọc.
           - 20px: độ mờ của đổ bóng.
           - hsla(19, 64%, 24%, .1): màu sắc và độ trong suốt của đổ bóng. */
      box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
        /* Đặt khoảng cách nội dung của phần tử .nav__menu theo chiều dọc là 3.5rem.
      Điều này thêm không gian ở trên và dưới nội dung bên trong phần tử. */
      padding-block: 3.5rem;
      transition: top .4s;
    }
}

.nav__list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__img-1,
.nav__img-2{
  position: absolute;
  opacity: .2;
}

.nav__img-1{
  width: 100px;
  /* Đặt khoảng cách từ phần tử đến cạnh trên của phần chứa (viewport) là 0.75rem.
   Kích thước này phụ thuộc vào kích thước font gốc (ví dụ, nếu 1rem = 16px, thì 0.75rem = 12px). */
  top: .75rem;
  /* Đặt khoảng cách từ phần tử đến cạnh trái của phần chứa (viewport) là -2rem.
   Giá trị âm có nghĩa là phần tử sẽ nằm lệch về phía trái so với vị trí bắt đầu ở cạnh trái của viewport.
   (Nếu 1rem = 16px, thì -2rem = -32px, tức là phần tử sẽ bị đẩy sang trái 32px so với vị trí gốc). */
  left: -2rem;
  /* Áp dụng phép xoay cho phần tử 165 độ theo chiều kim đồng hồ.
   Điều này làm cho phần tử quay một góc 165 độ so với vị trí gốc của nó. */
  transform: rotate(165deg);
}

.nav__img-2{
  width: 50px;
  right: -1rem;
  bottom: 0;
  transform: rotate(-30deg);
}
/* Show menu */
.show-menu{
  top:0;
}
/* Change background header */
.bg-header{
  box-shadow: 0 2px hsla(19, 64%, 24%, .1);
}
/* Quy tắc để thay đổi nền header */

/* Active link */
/* Quy tắc để đánh dấu liên kết đang hoạt động */

/*=============== HOME ===============*/
.home{
  position: relative;
}
.home__container{
  row-gap: 3rem;
  padding-top: 2rem;
}

.home__img{
  width: 300px;
  justify-self: center;
}

.home__data{
  text-align: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-family: var(--title-font);
  margin-bottom: 1rem;
}

.home__title img{
  width: 40px;
}

.home__title div{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.home__description{
  padding: 0 1rem;
  margin-bottom: 2.5rem;
}

.home__leaf-1,
.home__leaf-2{
  position: absolute;
  opacity: .2;
}

.home__leaf-1{
  width: 80px;
  top: 8rem;
  left: -1rem;
  transform: rotate(90deg);
}

.home__leaf-2{
  width: 100px;
  right: -2rem;
  bottom: 1rem;
  transform: rotate(-15deg);
}
/*=============== BUTTON ===============*/
.button{
  display: inline-flex;
  align-items:center ;
  column-gap: .5rem;
  background-color: var(--first-color);
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  color: #fff;
  font-weight: var(--font-medium );
  transition: background .3s;
}

.button i{
  font-size: 1.5rem;
  transition: transform .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button:hover i{
  transform: translateX(.25rem);
}
/*=============== ABOUT ===============*/
.about{
  position: relative;
}

.about__container{
  row-gap: 3rem;
}

.about__data{
  text-align: center;
}

.about__title img{
  width: 30px;
}

.about__title div{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
}

.about__img{
  width: 300px;
  justify-self: center;
}

.about__leaf{
  width: 100px;
  opacity: .2;
  position: absolute;
  right: -1.5rem;
  bottom: 11rem;
  transform: rotate(-15deg);
}

/*=============== POPULAR ===============*/
.popular__container{
  padding-top: 4rem;
  grid-template-columns: 250px;
  justify-content: center;
  row-gap: 5.5rem;
}

.popular__card{
  position: relative;
  background-color: var(--container-color);
  padding: 7rem 2rem 1.5rem;
  box-shadow: 0 8px 20px hsla(19, 64%, 48%, .08);
  border-radius: 1rem;
  text-align: center;
}

.popular__img{
  width: 220px;
  position: absolute;
  inset: 0;
  top: -2.5rem;
  margin: 0 auto;
  transition: transform .4s;
}

.popular__name{
  font-size: var(--h3-font-size);
  font-family: var(--title-font);
  margin-bottom: .25rem;
}

.popular__description{
  display: block;
  font-size: var(--smaller-font-size);
  margin-bottom: 1rem;
}

.popular__price{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
}

.popular__button{
  display: flex;
  background-color: var(--first-color);
  padding: 6px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.25rem;
  box-shadow: 0 4px 20px hsla(19, 64%, 20%, .2);
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
  transition: background .3s;
}

.popular__button:hover{
  background-color: var(--first-color-alt);
}

.popular__card:hover .popular__img{
  transform: translateY(-.25rem);
}

/*=============== RECENTLY ===============*/
.recently{
  position: relative;
}

.recently__container{
  row-gap: 4rem;
}

.recently__data{
  position: relative;
  text-align: center;
}

.recently__description{
  margin-bottom: 2rem;
}

.recently__data-img{
  width: 25px;
  position: absolute;
  top: 3.5rem;
  right: 1.5rem;
  transform: rotate(30deg);
}

.recently__img{
  width: 300px;
  justify-self: center;
}

.recently__leaf-1,
.recently__leaf-2{
  position: absolute;
  opacity: .2;
}

.recently__leaf-1{
  width: 80px;
  top: 17rem;
  left: -1rem;
  transform: rotate(15deg);
}

.recently__leaf-2{
  width: 40px;
  right: -1rem;
  bottom: 12rem;
  transform: rotate(-30deg);
}

/*=============== NEWSLETTER ===============*/
.newsletter__container{
  position: relative;
}

.newsletter__content{
  position: relative;
  background-color: hsl(19, 24% ,15%);
  padding: 5rem 1rem 3rem;
  text-align: center;
  overflow: hidden;
  margin-bottom: 2rem;
}

.newsletter__img{
  width: 250px;
  position: absolute;
  top: -4.5rem;
  left: -8rem;
}

.newsletter__data .section__title{
  color: #fff;
  margin-bottom: 2rem;
}

.newsletter__form{
  background-color: #fff;
  padding: 5px 5px 5px 16px;
  border-radius: 4rem;
  display: flex;
  column-gap: .5rem;
}

.newsletter__input,
.newsletter__button{
  font-family: var(--body-font);
  border: none;
  outline: none;
}

.newsletter__input{
  width: 90px;
  color: var(--text-color);
}

.newsletter__button{
  cursor: pointer;
}

.newsletter__spinach{
  width: 30px;
  position: absolute;
  right: 2rem;
  bottom: -2rem;
  transform: rotate(45deg);
}
/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/
/* Quy tắc để hiển thị nút cuộn lên */

/*=============== BREAKPOINTS ===============*/

/* For small devices */
/* Quy tắc cho thiết bị nhỏ */

/* For medium devices */
/* Quy tắc cho thiết bị vừa */

/* For large devices */
/* Quy tắc cho thiết bị lớn */
